# Add Rows to Flower Detail Table

Edit the "set" cells to update the variables, then click, "Run All" in the top left-corner.

In [ ]:
set rdc = 'S';

In [ ]:
set fn = 'Lilac';

In [ ]:
select $fn, $rdc;

In [ ]:
INSERT INTO 
garden_plants.flowers.flower_details
SELECT $fn, $rdc;

In [ ]:
SELECT * FROM garden_plants.flowers.flower_details